<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>CloudStreamsAnalytics</display-name>
   
    <servlet>
		<servlet-name>getData</servlet-name>
		<servlet-class>com.softwareag.cloudstreams.analytics.GetData</servlet-class>
		
    </servlet>
  
    <servlet-mapping>
		<servlet-name>getData</servlet-name>
		<url-pattern>/getData</url-pattern>
    </servlet-mapping>
  
    <context-param>    
        <param-name>pathtoQueryTemplates</param-name>    
        <param-value>/resources/QueryTemplates/</param-value>    
    </context-param> 
</web-app>