th {
    font-weight: inherit;
}

body {
    position: relative;
}
#connTable tr.row td{
	border: 1px solid #dcdcdc;
	border-collapse: collapse;
    height: 1em;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

table {
	border-collapse: collapse;
}
/*
.subheading2 td.evencol-1, .subheading2 td.oddcol-l{
	text-align: left;
}
*/

.tableView  .evencol, .tableView .oddcol{
	text-align: center
}

.tableView {
	width: 100%;
}

.tableView td.oddrow, .tableView td.evenrow{
	text-align: right;
}
.tableView td.oddrowdata-l, .tableView td.evenrowdata-l{
	text-align: left;
}

#mainTable td.oddrow, #mainTable td.evenrow{
	text-align: right;
}
#mainTable td.oddrowdata-l, #mainTable td.evenrowdata-l{
	text-align: left;
}
/*
.subheading2 td{
	border: 1px solid #dcdcdc;
}
*/
#heading {
	height: inherit;
	margin-left: 1px;
	margin-top: 1px;
}
/*
.tableView th.heading {
    background-color: #006699;
    color: #FFFFFF;
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #474747;
	height: inherit;
}
*/
td.heading {
    border: none;
    background-color: #006699;
    color: #FFFFFF;
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #474747;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

*/
th span {
    text-align: left;
    margin: 3px;
    vertical-align: middle;
}

.config {
    margin: 10px 2px 2px 1px;
	width: 60%;
}

/*td {
    text-align: left;
    padding: 4px 2px 2px 4px;
    border-right: 1px solid #cccccc;
}*/

input.url {
    width: 98%;
}

form {
    margin-bottom: 30px;
}

#formButtons {
    clear: both;
    margin-top: 10px;
}

#btnTest {
    width: 100px;
    padding: 2px;
    margin-left: 10px;
}

#btnSubmit {
    width: 80px;
    background-color: #d8d8d8;
    color: black;
}

td.left {
    width: 35%;
    text-align: right;
    padding-left: 5px;
}

td.right {
    width: 65%;
    text-align:left;
    padding-right: 5px;
}

table#customUserTarget, table#customCommunityTarget {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

div#busy {
    display: none;
}

.invalid {
    background-color: #ffffb1;
    border: 1px solid #fe4848;
    padding: 2px;
}

.required-field {
    border: 1px solid #fe4848;
    padding: 2px 0 2px 2px;
}

#report-interval span {
    font-size: smaller;
    font-family: verdana, sans-serif;
    font-weight: bold;
}

select {
	min-width: 120px;
    padding: 2px 0;
}

:focus {
    outline: none;
}

div.error ul {
    margin: 0;
    padding: 0;
}

div.error li {
    list-style: disc inside;
    margin: 0;
}

.required {
    font-size: 0.8em;
    color: #666;
    padding-left: 1px;
}

.checkboxWrap {
    display: inline;
}

.checkboxWrap-invalid {
    background-color: #ffffb1;
    border: 1px solid #fe4848;
    padding: 4px 0 0 2px;
    margin-right: 2px;
}

.audit-cell {
    font-size: smaller;
}

.audit-cell-numeric {
    font-size: smaller;
    text-align: right;
}

.audit-header {
    background-color: #ffffb1;
}

div.updateStatus {
    border-bottom: 1px solid gray;
    padding: 5px 0;
    margin-bottom: 5px;
    font-weight: bold;
}

div.updateStatus span {
    font-weight: bold;
    margin-right: 5px;
}

div.updateStatus img {
    margin-right: 4px;
}

.faultReason {
    overflow: hidden;
    float: left;
    width: 95%;
    height: 15em;
    padding: 5px;
}

[disabled] {
    /* Disabled fields */
    color: #8b8b8b;
    background-color: #f9f9f9;
    border: 1px solid #a9a9a9;
}