table.tableView {
	width: 60%;
}

td.info{
	padding-left: 35pt;
}
.tokenAlias {
    display: block;
    width: 100%;
}

.label {
    font-size: 9pt;
    color: #666666;
}

.sublabel {
    color: #006666;
}

img {
    padding: 0 2px;
    vertical-align: text-bottom;
}

span.img {
    vertical-align: text-bottom;
}

span.img:hover {
    cursor: pointer;
}

.header {
    margin-top: 10px;
    font-weight: bold;
    color: #2f4f4f;
}
#links {
    display: inline;
    padding: 0;
    margin-left: 81%;
}

.separator {
    color: gray;
    font-size: 8px;
}

.delAliasName {
    display: none;
}

