div.Title, caption.Title
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Body, caption.Body
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
}

div.List_1, caption.List_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.Title_TOC_Only, caption.Title_TOC_Only
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Heading_1_TOC_Only, caption.Heading_1_TOC_Only
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Heading_1, caption.Heading_1
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

div.Reference_Syntax, caption.Reference_Syntax
{
  background-color: White;
  color: #804000;
  font-family: Calibri;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

div.Table_Cell_Head, caption.Table_Cell_Head
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-top: 9px;
}

div.Table_Cell, caption.Table_Cell
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  vertical-align: top;
}

div.Note, caption.Note
{
  background-color: Transparent;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-top: 9px;
}

div.List_1_Continued, caption.List_1_Continued
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 18pt;
  margin-top: 9px;
}

div.List_2, caption.List_2
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
  margin-left: 36pt;
  margin-top: 9px;
  text-indent: -18pt;
}

div.Preformatted, caption.Preformatted
{
  background-color: #E5E4E4;
  color: Black;
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: pre;
}

div.nonumber, caption.nonumber
{
  background-color: White;
  color: Black;
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

span.term
{
  font-style: italic;
}

span.uicontrol
{
  font-weight: bold;
}

span.inlinetitle
{
  font-weight: bold;
}

span.codeph
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.varname
{
  font-style: italic;
}

span.userinput
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.Citation
{
  font-style: italic;
}

span.parmname
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
}

span.var-in-codeph
{
  font-family: Courier, 'Courier New', Monospace;
  font-size: 13px;
  font-style: italic;
}

span.emphasis
{
  font-style: italic;
}

span.Bold
{
  font-weight: bold;
}

table.rules1
{
  border-collapse: collapse;
}

table.note1
{
  background-color: #E6FAFF;
  margin-bottom: 8px;
}

table.note2
{
  background-color: #E6FAFF;
  margin-bottom: 8px;
  margin-left: 25px;
}

