<?xml version="1.0" encoding="UTF-8"?>
<help xmlns:xs="http://www.w3.org/2001/XMLSchema" product="smg">
   <topic id="Mediator_API_Portal"
          url="help/index.html#context/mediator-online-help/Mediator_API_Portal"
          width="650"/>
   <topic id="Mediator_CentraSite_Configuration"
          url="help/index.html#context/mediator-online-help/Mediator_CentraSite_Configuration"
          width="650"/>
   <topic id="Mediator_EDA_Configuration"
          url="help/index.html#context/mediator-online-help/Mediator_EDA_Configuration"
          width="650"/>
   <topic id="Mediator_Elasticsearch"
          url="help/index.html#context/mediator-online-help/Mediator_Elasticsearch"
          width="650"/>
   <topic id="Mediator_SNMP_Configuration"
          url="help/index.html#context/mediator-online-help/Mediator_SNMP_Configuration"
          width="650"/>
   <topic id="Mediator_Email_Configuration"
          url="help/index.html#context/mediator-online-help/Mediator_Email_Configuration"
          width="650"/>
   <topic id="Mediator_General_Configuration"
          url="help/index.html#context/mediator-online-help/Mediator_General_Configuration"
          width="650"/>
   <topic id="Mediator_Soap_Fault"
          url="help/index.html#context/mediator-online-help/Mediator_Soap_Fault"
          width="650"/>
   <topic id="Mediator_Services"
          url="help/index.html#context/mediator-online-help/Mediator_Services"
          width="650"/>
   <topic id="Mediator_Consumers"
          url="help/index.html#context/mediator-online-help/Mediator_Consumers"
          width="650"/>
   <topic id="Mediator_Consumers_Screen"
          url="help/index.html#context/mediator-online-help/Mediator_Consumers_Screen"
          width="650"/>
   <topic id="Mediator_API_Keys"
          url="help/index.html#context/mediator-online-help/Mediator_API_Keys"
          width="650"/>
   <topic id="Mediator_API_Keys_Screen"
          url="help/index.html#context/mediator-online-help/Mediator_API_Keys_Screen"
          width="650"/>
   <topic id="Mediator_OAuth2_Tokens"
          url="help/index.html#context/mediator-online-help/Mediator_OAuth2_Tokens"
          width="650"/>
   <topic id="Mediator_OAuth2_Tokens_Screen"
          url="help/index.html#context/mediator-online-help/Mediator_OAuth2_Tokens_Screen"
          width="650"/>
   <topic id="Mediator_Runtime_Alias"
          url="help/index.html#context/mediator-online-help/Mediator_Runtime_Alias"
          width="650"/>
   <topic id="Mediator_STS"
          url="help/index.html#context/mediator-online-help/Mediator_STS"
          width="650"/>
   <topic id="Mediator_Extended_Settings"
          url="help/index.html#context/mediator-online-help/Mediator_Extended_Settings"
          width="650"/>
</help>