<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://PTGHP450-AM:18201:default">aa059011-b9d6-11e6-1e80-0a0027000000</value>
  </record>
</IDataXMLCoder>
