<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="DEBUG" verbose="false">

    <!-- monitorInterval: automatic reload every 30sec on changes -->
    <!-- status: log4j2 internal logging (not for the app) -->
    <!-- Don't forget to set system property
	-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     	to make all loggers asynchronous.
    -->

    <Properties>
     	<!-- ENVIRONMENT SPECIFIC -->
		<Property name="env">dev</Property>
		<Property name="logFilePath">C:\ServiceLogs</Property>

    </Properties>

	<!-- =========================== -->

    <Appenders>

        <!-- the standard-console-appender -->
        <Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.} [%t] %m%n" />
	</Console>


	<!-- ##### Rolling File List ##### -->
	<!-- Note: Keep the Rolling File appender names to start with RF.* and ends with either Msg (message log) or Tmg (timing log) -->
	<!--       This naming convention allows the app to use the default Rolling File appender (RF.AADefault) in case a new rolling file apender is not configured properly -->

	<!-- Start Default Rolling File Appenders -->
		<RollingFile name="RF.Default.Msg" fileName="${ctx:logFilePath}\Default\Default_msg_${env}.log"  filePattern="${ctx:logFilePath}\Default\Default_msg_${env}.log.%d{yyyy-MM-dd}" immediateFlush="false">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %logger{50} - %msg%n" />
				<Policies>
					<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
		<RollingFile name="RF.Default.Tmg" fileName="${ctx:logFilePath}\Default\Default_tmg_${env}.log"  filePattern="${ctx:logFilePath}\Default\Default_tmg_${env}.log.%d{yyyy-MM-dd}" immediateFlush="false">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %logger{50} - %msg%n" />
				<Policies>
					<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
	<!-- End Default Rolling File Appenders -->

	<!-- Start Demo Rolling File Appenders -->
		<RollingFile name="RF.Demo.Msg" fileName="${ctx:logFilePath}\Demo\Demo_msg_${env}.log"  filePattern="${ctx:logFilePath}\Demo\Demo_msg_${env}.log.%d{yyyy-MM-dd-mm}" immediateFlush="true">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %logger{50} - %msg%n" />
				<Policies>
					<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true"/> -->
					<SizeBasedTriggeringPolicy size="50MB"/>
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
	<!-- End Demo Rolling File settings -->

	<!-- Start MAX-WO-OUT Rolling File Appenders -->
		<RollingFile name="RF.MAX-WO-OUT.Msg" fileName="${ctx:logFilePath}\MAX\WO_OUT_msg_${env}.log"  filePattern="${ctx:logFilePath}\GeoEnrichment\MAX\WO_OUT_msg_${env}.log.%d{yyyy-MM-dd-mm}" immediateFlush="true">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %logger{50} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB"/>
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
	<!-- End MAX-WO-OUT Rolling File settings -->
	
	<!-- Start ESRI-WO-IN Rolling File Appenders -->
		<RollingFile name="RF.ESRI-WO-IN.Msg" fileName="${ctx:logFilePath}\ESRI\WO_IN_msg_${env}.log"  filePattern="${ctx:logFilePath}\GeoEnrichment\ESRI\WO_IN_msg_${env}.log.%d{yyyy-MM-dd-mm}" immediateFlush="true">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %logger{50} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB"/>
			</Policies>
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
	<!-- End ESRI-WO-IN Rolling File settings -->

        <!-- ##### End of Rolling File List ##### -->


        <!-- =========================== -->

	
		<!-- ##### Async List ##### -->
		<!-- Note: Keep the Async appender names to start with Async.* and ends with either Msg (message log) or Tmg (timing log) -->
		<!-- 	   For Async Rolling File appender, prefix the name with Async.RF.* -->
		<!--       This naming convention allows the app to use the default Async Rolling File appender (Async.RF.AADefault) in case a new async rolling file apender is not configured properly -->

		<!-- End Default Async Appenders -->
		<Async name="Async.RF.Default.Msg">
			<AppenderRef ref="RF.Default.Msg"/>
		</Async>
		<Async name="Async.RF.Default.Tmg">
			<AppenderRef ref="RF.Default.Tmg"/>
		</Async>
		<!-- End Default Async Appenders -->

		<!-- Start Demo Async Appenders -->
		<Async name="Async.RF.Demo.Msg">
			<AppenderRef ref="RF.Demo.Msg"/>
		</Async>
		<!-- End Demo Async Appenders -->

		<!-- Start ESRI-WO-IN Async Appenders -->
		<Async name="Async.RF.ESRI-WO-IN.Msg">
			<AppenderRef ref="RF.ESRI-WO-IN.Msg"/>
		</Async>
		<!-- End ESRI-WO-IN Async Appenders -->

		<!-- Start MAX-WO-OUT Async Appenders -->
		<Async name="Async.RF.MAX-WO-OUT.Msg">
			<AppenderRef ref="RF.MAX-WO-OUT.Msg"/>
		</Async>
		<!-- End MAX-WO-OUT Async Appenders -->


		<!-- ##### End of Async List ##### -->

    </Appenders>

	<!-- =========================== -->

    <Loggers>
        <!-- Every configuration must have a root logger. If one is not configured the default root LoggerConfig is ERROR with Console appender attached. -->
        <AsyncRoot  level="INFO" includeLocation="false">
            <AppenderRef ref="Async.RF.Default.Msg"/>
        </AsyncRoot >

	<!-- Logger List -->
	<!-- Note: Keep the Logger names to end with either Msg (message log) or Tmg (timing log)-->

	<AsyncLogger name="Default.Msg" level="INFO" includeLocation="false" additivity="false">
	    <AppenderRef ref="Async.RF.Default.Msg"/>
	</AsyncLogger>
	<AsyncLogger name="Default.Tmg" level="INFO" includeLocation="false" additivity="false">
	    <AppenderRef ref="Async.RF.Default.Tmg"/>
	</AsyncLogger>


        <!-- Start Demo Loggers -->
		<AsyncLogger name="DemoMessageLogger.Msg" level="DEBUG" includeLocation="false" additivity="false">
		    <AppenderRef ref="Async.RF.Demo.Msg"/>
		</AsyncLogger>
	<!-- End Demo Loggers -->

	<!-- Start ESRI-WO-IN Loggers -->
		<AsyncLogger name="ESRI-WO-IN-MessageLogger.Msg" level="DEBUG" includeLocation="false" additivity="false">
		    <AppenderRef ref="Async.RF.ESRI-WO-IN.Msg"/>
		</AsyncLogger>
	<!-- End ESRI-WO-IN Loggers -->
	
	<!-- Start MAX-WO-OUT Loggers -->
		<AsyncLogger name="MAX-WO-OUT-MessageLogger.Msg" level="DEBUG" includeLocation="false" additivity="false">
		    <AppenderRef ref="Async.RF.MAX-WO-OUT.Msg"/>
		</AsyncLogger>
	<!-- End MAX-WO-OUT Loggers -->

    </Loggers>

</Configuration>
