.consumer {
    display: block;
    width: 100%;
    padding: 2px 0;
}

ul {
    padding: 2px;
    margin: 2px 0;
}

li {
    list-style-position: inside;
    padding: 0 10px;
    margin: 0;
}

.label {
    font-size: 9pt;
    color: #666666;
}

.sublabel {
    color: #006666;
}

div.details {
    margin-left: 15px;
}

table {
    width: 90%;
    border: 1px solid lightgray;
}

td {
    border: none;
}

table tr {
    background-color: #F0F0E0;
}

.tokens .label, .ranges .label, .certificate .label {
    border-bottom: 1px dotted #ccccff;
}

.certificate div {
    margin-top: 3px;
}

.name {
    width: 40%;
    font-weight: bold;
}

img {
    padding: 0 2px;
    vertical-align: text-bottom;
}

span.img {
    vertical-align: text-bottom;
}

span.img:hover {
    cursor: pointer;
}

a.expand, a.collapse {
    padding: 3px;
    text-decoration: none;
}

a.expand:hover, a.collapse:hover {
    text-decoration: underline;
}

.consumer-heading {
    border: none;
    border-collapse: collapse;
    background-color: #006f97;
    color: #FFFFFF;
    padding: 0px 0px 0px 1em;
    text-align: left;
    font-weight: bold;
    height: 2.5em;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 2px;
}

.services-heading {
    border: none;
    border-collapse: collapse;
    background-color: #006f97;
    color: #FFFFFF;
    padding: 0px 0px 0px 1em;
    text-align: left;
    font-weight: bold;
    height: 2.5em;
    letter-spacing: 2px;
}