body {
    position: relative;
}

table {
    width: 60%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

li {
    padding: 0.5em;
    border: 0px solid #ccc;
    height: 1em;
    list-style-type: disc; 
    color: #007aa3;
}

li a {
    color: #007aa3;
}

th span {
    text-align: left;
    margin: 3px;
    vertical-align: middle;
}

.config {
    margin: 10px 2px 2px 1px;
}

td {
    font: inherit;
    text-align: left;
    padding: 4px;
    border-right: 1px solid #cccccc;
}

input.url {
    width: 98%;
}

form {
    margin-bottom: 30px;
}

#formButtons {
    clear: both;
}

#btnTest {
    width: 100px;
    padding: 2px;
    margin-left: 10px;
}

#btnSubmit {
    width: 80px;
    padding: 2px;
}

td.left {
    width: 35%;
}

td.right {
    width: 65%;
}

table#customUserTarget, table#customCommunityTarget {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

div#busy {
    display: none;
}

.invalid {
    background-color: #ffffb1;
    border: 1px solid #fe4848;
    padding: 2px;
}

.required-field {
    border: 1px solid #fe4848;
    padding: 2px 0 2px 2px;
}

#report-interval span {
    font-size: smaller;
    font-family: verdana, sans-serif;
    font-weight: bold;
}

select {
    width: 120px;
    padding: 2px 0;
}

:focus {
    outline: none;
}

div.error ul {
    margin: 0;
    padding: 0;
}

div.error li {
    list-style: disc inside;
    margin: 0;
}

.required {
    font-size: 0.8em;
    color: red;
    padding-left: 1px;
}

.checkboxWrap {
    display: inline;
}

.checkboxWrap-invalid {
    background-color: #ffffb1;
    border: 1px solid #fe4848;
    padding: 4px 0 0 2px;
    margin-right: 2px;
}

.audit-cell {
  font-size: smaller;
}

.audit-cell-numeric {
  font-size: smaller;
  text-align: right;
}

.audit-header {
  background-color: #ffffb1;
}

div.updateStatus {
    border-bottom: 1px solid gray;
    padding: 5px 0;
    margin-bottom: 5px;
    font-weight: bold;
}
div.updateStatus span {
    font-weight: bold;
    margin-right: 5px;
}

div.updateStatus img {
    margin-right: 4px;
}

div#container ul {
    margin: 4px;
}


.faultReason {
        xoverflow: hidden;
        float: left;
        width: 95%; 
        height: 15em;
	border: 3px solid #cccccc;
	padding: 5px;
	xbackground-position: bottom right;
	xbackground-repeat: no-repeat;
}

.subheading2 td {
    text-align: left;
    background-color: #e5e5e4;
    color: #323232;
}

.breadcrumb, .breadcrumb-left, .breadcrumb-right {
    background-color: #f9f9f9;
    color: #323232;
    padding: 1em;
    border: 1px solid #ccc;
    height: 3em;
    margin: auto;
    letter-spacing: 0.5px;
}