.TreeView {
    cursor: pointer;
    font-style: normal;
}

.TreeView LI {
    padding-left: 18px;
    padding-top: 2px;
    list-style: none;
    margin: 3px 0;
}

.TreeView, .TreeView ul {
    margin: 0;
    padding: 0;
}

LI.expanded {
    background: url(../images/minus.gif) no-repeat left top;
}

LI.expanded ul {
    display: block;
}

LI.collapsed {
    background: url(../images/plus.gif) no-repeat left top;
}

LI.collapsed ul {
    display: none;
}

a {
    text-decoration: none;
    outline: none;
    display: block;
}

a:hover {
    text-decoration: underline;
}

.selected{
   color: #cc0000;
}