div.service {
    padding: 5px;
    margin: 2px;
}
.details {
   color: #556b2f;
}

.noconsumers {
    color: gray;
}

.serviceName {
    font-size: 13px;
    font-weight: bold;
    width: 300px;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

span form {
    display: inline;
    margin: 0 5px;
}

ul, li {
    margin-top: 1px;
    padding-left: 2px;
    list-style-position: inside;
}

td.noborder {
    border-right: none;
}



