<menu>
	<section msgDbKey="UI_ADMINISTRATION" name="Administration">
		<subsection msgDbKey="UI_APIPORTAL" url="apiportal-config.">API-Portal</subsection>
		<subsection msgDbKey="UI_CS_COMMUNICATION" url="centrasite-config.">CentraSite Communication</subsection>
		<subsection msgDbKey="UI_EDA_CONFIGURATION" url="nerv-config.">EDA/Database</subsection>
		<subsection msgDbKey="UI_ELASTICSEARCH" url="elasticsearch-config.">Elasticsearch</subsection>
		<subsection msgDbKey="UI_SNMP" url="snmp-config.">SNMP</subsection>
		<subsection msgDbKey="UI_EMAIL" url="email-config.">Email</subsection>
		<subsection msgDbKey="UI_GENERAL" url="general-config.">General</subsection>
		<subsection msgDbKey="UI_SERVICE_FAULT" url="service-fault-config.">Service Fault</subsection>
	</section>
	
	<section msgDbKey="UI_SERVICES" name="Services">
		<subsection msgDbKey="UI_SERVICES" url="mediator-services.">Services</subsection>
	</section>
	
	<section msgDbKey="UI_CONSUMERS" name="Consumer Applications">
		<subsection msgDbKey="UI_CONSUMER_APPLICATIONS" url="consumers.">Consumers</subsection>
		<subsection msgDbKey="UI_API_KEYS" url="apiKeys.">API Keys</subsection>
		<subsection msgDbKey="UI_OAUTH2_CLIENTS" url="oAuth2Tokens.">OAuth2 Clients</subsection>
	</section>
	
	<section msgDbKey="UI_RUNTIME_ALIAS" name="Runtime Alias">
		<subsection msgDbKey="UI_RUNTIME_ALIAS" url="runtimeAlias.">Runtime Alias</subsection>
	</section>
	
	<section msgDbKey="UI_SETTINGS" name="Settings">
		<subsection msgDbKey="UI_STS" url="sts-config.">STS</subsection>
		
		<!--Imp Note: Ensure that Extended Settings remain at the bottom of the list
		<hr/> is the css for horizontal-line--> 
		<subsection msgDbKey="UI_DUMMY_LINE" url="dummy-horizontal-line"></subsection>
		<subsection msgDbKey="UI_EXTENDED_SETTINGS" url="setting.">Extended Settings</subsection>
	</section>
</menu>
